{
  "extends": [
    // "eslint:recommended",
    // "plugin:react/recommended",
    "airbnb",
    "airbnb/hooks"
  ],
  "rules": {
    "no-unused-vars": [
      "warn"
    ],
    "react/prop-types": [
      "off"
    ],
    "no-nested-ternary": [
      "off"
    ],
    "no-plusplus": [
      "off"
    ],
    "react/jsx-props-no-spreading": [
      "off"
    ],
    "jsx-a11y/label-has-associated-control": [
      "warn"
    ]
  },
  "parser": "babel-eslint"
}